.round {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round_title {
  height: 2em;
  
  font-weight: bold;
}

.matches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  
  gap: 0.5rem;
}