@import '../../../themes.css';

.new_tournament_tab {
  background-color: var(--color-primary-bg);
  opacity: 1;
}

.form {
  width: 50em;
  height: 24em;

  display: flex;  
  flex-direction: column;
  
  padding: 1rem;
}

.fields {
  display: flex;  
  flex-direction: column;

  height: 90%;
}

.fields label{
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.submit_btn {
  width: 16em;
}

.close_btn {
  width: 6em;
}