@import '../../../../themes.css';

.match {
  width: 10em;
  
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  gap: 1px;
}

.record_row {
  display: flex; 
  justify-content: space-between;
  
  height: 1.5em;
  
  background-color: var(--color-primary-bg);
}

.score {
  width: 1.5em;
  
  border: none;
  outline: none;

  text-align: center;
  font-weight: bold;

  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

.score_input {
  height: 100%;
  border: 3px solid var(--color-primary-text);
}

.result_W {
  background-color: var(--color-result-w);
}

.result_D {
  background-color: var(--color-result-d);
}

.result_L {
  background-color: var(--color-result-l);
}

.input_form {
  position: relative;
}

.match_menu {
  position: absolute;

  right: -1.5em;
  
  flex-direction: column;
  gap: 1px;
  
  display: none;
}
.match:hover .match_menu {
  display: flex;
}


.match_menu button {
  width: 1.5em;
  height: 1.5em;
  
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
  
  border: none;
}
