[data-theme="dark"] {
  --color-primary-bg: #2B2D42;
  --color-secondary-bg: #8D99AE;
  --color-primary-text: #EDF2F4;
  --color-result-w: #04724D;
  --color-result-d: #FFA630;
  --color-result-l: #D90429;
} 