[data-theme="dark"] {
  --color-primary-bg: #202344;
  --color-secondary-bg: #2d305b;
  --color-primary-text: #dde3ea;
  --color-result-w: #04724D;
  --color-result-d: #FFA630;
  --color-result-l: #D90429;
} 